* {
    margin: 0px;
    padding: 0px;
    color: bisque;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: ;
    border: 1px  black;
    text-align: center;
    background-color: #2d3436;
    font-size: 30px;
  }
h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
} 
h2 {
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}

header, section, footer, aside, nav, article, hgroup{
        display: inline-flex;
}

body {
    text-align: center;background-image: url("/Project1.1//img/652737.jpg");
    background-attachment: fixed; 
}
.agrupar{
    margin: 1px auto;
    width: 1600px;
}
.header{
    display: flex;
    color: white;
    border: 4px;
    padding: 20px;
    background-color: #2d3436;
    font-style: oblique;
}
.header h1{
    text-align: left;
    text-decoration: none;
}
.menu {
    padding: 5px 5px;
    text-align: left;
    color: black;
}
.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px Verdana;
    display: inline-flex; /*  para ponerlo todo en linea por bloques uno al lado del otro */
}
aside article{
    border: none;
    font-size: 15px;
    text-align: center;
    position: relative;
}
article{
    border: 3px outset bisque;
    padding: 20px;
    margin-bottom: 15px;
}
article h1{
    text-align: left;
    font: bold;
}
article h2{
    text-align: left;
}
article time{
    color: #999;
    text-align: left;
}
article footer p{
    text-align: right;
    margin-top: 20px;
    font-size: 10px;
}
article p{
    text-align: left;
}
.seccion {
    margin: 10px;
    width: 60%;
    float: left;
}
.columna {
    width: 30%;
    float: right;
    margin: 10px 30px;
    padding-right: 20px;
}
.columna blockquote{
    border: 3px double bisque;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.pie {
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #2d3436;
    color: white;
    font-size: 20px;
}
div img{
    width: 70px;
    display: block;
    margin: 20px auto;
    filter: grayscale(100%);
    -webkit-box-shadow: 6px 6px 20px #ccc;
    -moz-box-shadow: 6px 6px 20px #ccc;
    
}
#foto{
    width: 100px;
    height: 60px;
    transition-property: width, height;
    transition-duration: 6s;
  }
#foto:hover{
      width: 910px;
      height: 80px;
      animation-direction: reverse;
  }
#foto:hover img{
    width: 100px;
    animation-direction: reverse;
}
*{box-sizing:border-box;}

.container{
	width:95%;
	max-width:900px;
	padding:32px 64px;
	margin:auto;
}
.social{
	/*las imágenes usadas tienen width de 48px*/
	width:48px;
	position:fixed;
	top:50px;
    right:0;
}